# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.ilk
*.ipch
*.ipdb
*.sdf
*.tlog
*.pdb
*.exp
*.iobj
*.log
*.idb
utils_test/utils_test/utils_test.vcxproj.user
utils_test/x64/Debug/utils_test.exe.test.log.xml
utils_test/x64/Debug/utils_test.exe.test.report.xml
utils_test/utils_test.VC.opendb
utils_examples/utils_examples/utils_examples.vcxproj.user
